h4 Create a new VM
	br
	small Create your new VMs through UI

form.form-horizontal
	.form-group
		label.col-sm-3.control-label Physical Host
		.col-sm-9
			select.form-control
				option 192.168.1.1
	.form-group
		label.col-sm-3.control-label Image
		.col-sm-9
			select.form-control
				option ubuntu-14.04
	.form-group
		label.col-sm-3.control-label Name
		.col-sm-9
			input(type="text").form-control