h4 Create a new VM
	br
	small Create your new VMs through UI

form.form-horizontal
	.form-group
		label.col-sm-2.control-label Physical Host
		.col-sm-10
			select.form-control
				option 192.168.1.1
	.form-group
		label.col-sm-2.control-label Image
		.col-sm-10
			select.form-control
				option ubuntu-14.04
	.form-group
		label.col-sm-2.control-label Name
		.col-sm-10
			input(type="text").form-control
	.form-group
		label.col-sm-2.control-label CPUs
		.col-sm-10
			input(type="number",value="1",min="1").form-control
	.form-group
		label.col-sm-2.control-label Memory
		.col-sm-10
			input(type="number",value="512",min="1").form-control
	.form-group
		label.col-sm-2.control-label Networks
		.col-sm-10
			select.form-control
				option default
	.form-group
		label.col-sm-2.control-label user-data
		.col-sm-10
			textarea.form-control(rows="5",style="font-family:monospace")
	.form-group
		.col-sm-10.col-sm-offset-2
			a.btn.btn-primary
				i.fa.fa-plus
				span  Create



